header.header
	.section_in
		.header_main
			ul.header_burger
				li 
				li 
				li
			.header_info 
				.header_logo 
					img(src="i/logo.jpg", alt="Logotype website")
				.header_delivery 
					p Доставка
					.header_delIcon 
						img(src="i/down.svg", alt="")
			.header_coinWrapper 
				.header_coin 312
				.header_coinIcon 
					img(src="i/coin.png", alt="Coin user")