img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

h1 {

}
// End
h2 {

}
// End
h3 {

}
// End
h4 {

}
// End
h5 {

}
// End
h6 {

}
// End

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}